<div class="level-manager">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Názov vrstvy</th>
                <th>Viditeľnosť</th>
                <th>Opacita</th>
                <th>Farba</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Vrstva 1</td>
                <td><input type="checkbox" checked></td>
                <td><input type="range" min="0" max="100" value="100"></td>
                <td><input type="color" value="#000000"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Vrstva 2</td>
                <td><input type="checkbox" checked></td>
                <td><input type="range" min="0" max="100" value="100"></td>
                <td><input type="color" value="#ff0000"></td>
            </tr>
            
        </tbody>
    </table>
</div>