<div class="level-manager">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Názov vrstvy</th>
                <th>Viditeľnosť</th>
                <th>Opacita</th>
                <th>Farba</th>
                <th>Instances</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tableData">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td><div class="checkbox-wrapper-31" title="100"><input value="100" type="checkbox" /><svg viewBox="0 0 35.6 35.6"><circle class="background" cx="17.8" cy="17.8" r="17.8"></circle><circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle><polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline></svg></div></td>
                <td>
                    <!-- <input type="range" min="0" max="100" value="100"> -->
                    <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
                        <!-- <mat-slider discreate> -->
                        <input matSliderThumb>
                      </mat-slider>
                </td>
                <td><input type="color" value="#000000" style="padding: 3px; background: #ffffff; border-radius: 1px;"></td>
                <td>{{item.instance}}</td>
            </tr>
        </tbody>
    </table>
</div>