<mat-list role="list">
    <mat-list-item role="button"><button mat-mini-fab><mat-icon>zoom_out_map</mat-icon></button></mat-list-item>
    <mat-list-item role="button"><button mat-mini-fab><mat-icon>aspect_ratio</mat-icon></button></mat-list-item>
    <mat-list-item role="button"><button mat-mini-fab><mat-icon>compare</mat-icon></button></mat-list-item>
    <mat-list-item role="button"><button mat-mini-fab><mat-icon>refresh</mat-icon></button></mat-list-item>
    <mat-list-item role="button"><button mat-mini-fab><mat-icon>exit_to_app</mat-icon></button></mat-list-item>
    <mat-list-item role="button"><button mat-mini-fab><mat-icon>brightness_medium</mat-icon></button></mat-list-item>
    <mat-list-item role="button"><button mat-mini-fab (click)="onWindowButtonClick()"><mat-icon>layers</mat-icon></button></mat-list-item>
    <!-- <mat-list-item role="button"><app-window></app-window></mat-list-item> -->
    <mat-list-item role="button"><button mat-mini-fab><mat-icon>edit</mat-icon></button></mat-list-item>
</mat-list>